.book {
  display: table;
  overflow: hidden;
}

.title {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.link_detail_title {
  color: #0a222e;
}

.author {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}

.link_detail_author {
  color: #28546a;
}

.created {
  color: #999999;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
}

.tooltips {
  color: #999999;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
}

.link_url {
  font-size: 12px;
}

.button_url {
  margin-right: 5px;
  width: 42px;
  height: 26px;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  color: gray;
}

.button_edit {
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  color: rgb(39, 68, 236);
}

.button_delete {
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  color: rgb(223, 78, 78);
}
